@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body
{
    background: linear-gradient(#120B51, #030412);
    overflow: hidden;
}

#bg
{
    background-color: #FEFEFE;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#hero_header
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero_header h1
{
    font-size: 700%;
    font-weight: bold;
    color: white;
}

#hero_header p
{
    user-select: none;
    text-align: center;
    background-color: #fff;
    color: #040513;
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
}

#labs
{
    position: absolute;
    top: 25%;
    left: 10%;
    opacity: 0;
}

#labs ul
{
    margin-left: 40px;
    list-style: none;
}

a
{
    background-image: linear-gradient( to right, #30D5C8, #54b3d6 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: 100%;   

    font-family: 'Poppins';
    font-weight: bold;
    font-size: 20px;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
  }
  
  a:hover {
   background-position: 0%;
  }

.gg {
    display: flex;
    height: 14px;
    margin-bottom: 11px
}

.gg div
{
    margin-right: 10px;
}

.gg0 {
    width: 14px;
}

.gg1 {
    width: 28px;
}

.gg2 {
    width: 56px;
}

.gg3 {
    width: 84px;
}

.gg4 {
    width: 112px;
}

.gg5 {
    width: 140px;
}

.gg6 {
    width: 168px;
}

.gg7 {
    width: 196px;
}